.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
}

.md-18 {
  /* Added because material-icons css not working*/
  font-size: 18px !important;
}
